#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

.container {
  padding: 0;
}

body {
  display: flex;
  margin: 0;
}

nav {
  display: flex;
  position: absolute;
  z-index: 1;
  background: #858585;
  color: #fff;
  flex-direction: column;
}

#app button:disabled,
#app button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc !important;
  color: #666666 !important;
}

.material-icons {
  font-size: 30px;
}

.current {
  background: #dddddd;
}

#toolbar {
  padding: 0;
}

.back-btn {
  margin: 0;
}

i {
  cursor: pointer;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  top: 60px;
  width: 100%;
}

li {
  display: table;
  margin: 0 10px;
  padding: 5px 0;
  cursor: pointer;
  height: 2em;
  list-style-type: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

a {
  color: #42b983;
}

button {
  z-index: 1;
}

div.game_on #timer_on {
  background-color: green;
  margin-bottom: 0px;
  color: white;
}

div.game_waiting #timer_on {
  background-color: red;
  margin-bottom: 0px;
  color: white;
}

.info-box {
  text-align: center;
  color: black;
}

.info-box-title {
  font-size: 16px;
  text-align: center;
}

.btn-round {
  border-radius: 10px;
}

.drawer {
  background: #eeeeee;
}

.icon-width {
  width: 40px;
  text-align: center;
  color: #26a69a;
}

.icon-admin {
  color: #e60000;
}

.warning {
  color: red;
}

.btn-red {
  background: #e60000;
}

.subheader {
  text-transform: uppercase;
  font-size: 12px;
}

#newGameBtn,
#stopGameBtn {
  width: 90%;
  margin: 10px auto;
}

#stopGameBtn {
  background: #e60000;
}

#replayBtn,
#stopReplayBtn {
  width: 90%;
  margin: 10px auto;
  background: #aaaaaa;
}

.replay_input {
  width: 90%;
}

#gps_error,
.gps_error {
  font-weight: bold;
  color: red;
}
#gpsError .modal-header h3 {
  margin-top: 0;
  color: red;
}
#gpsError .modal-footer {
  display: none;
}

.distance-to-prey {
  font-size: 15px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 5px;
  line-height: 1;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.8);
}

.hunter-is-close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  background-image: url(assets/siren.jpg);
  background-size: contain;
  border-radius: 50%;
  top: 6px;
  right: 5px;
  box-shadow: 0 0 0 rgba(204, 63, 204, 0.4);
  animation: pulse 1s infinite;
}

.map_screenshot {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  top: 0;
  left: 0;
  z-index: 100;
}

.dialog {
  z-index: 101;
  background-color: #fff;
  min-height: unset;
  padding: 20px;
  border-radius: 5px;
}

.dialog > h6 {
  color: #000;
  font-weight: 400;
  text-align: center;
}

h6 {
  font-size: 14px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 7, 255, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 200px rgba(0, 7, 255, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 7, 255, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 7, 255, 0.4);
    box-shadow: 0 0 0 0 rgba(0, 7, 255, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 200px rgba(0, 7, 255, 0);
    box-shadow: 0 0 0 200px rgba(0, 7, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(0, 7, 255, 0);
    box-shadow: 0 0 0 0 rgba(0, 7, 255, 0);
  }
}
